<!DOCTYPE>
<html lang-en>

	<head>
		<!-- Points Django to our static files dir: { css, img, js } -->
		{% load static %}

		<meta charset=utf-8>
  		<title>WallOff</title>

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'logos/newlogo.png' %}">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/wo.css' %}">

		<!-- Core js/jQuery -->
		<script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>

		<style type="text/css">
			html {
				background-image: url("{% static 'img/background.png' %}");
				background-size:100%;
				background-repeat:no-repeat;
				background-attachment:fixed;		
			}
			nav h1::before {
				content:url('{% static 'logos/newlogo.png' %}');
			}
		</style>
	</head>

	<body>
		<!-- Logo Navigation -->
		<nav role="navigation">
			<h1 onclick = "void(0);">Iterations</h1>
			<ol>
				<li><a href="/">Home</a></li>
				<li><a href="/iterations">Iterations</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/creators">Creators</a></li>
			</ol>

		</nav>
		
		<!-- Content -->
		{% block content %}{% endblock %}
	</body>
</html>
