{% extends "base.html" %}

{% block swap %}
	<h3>-- ITERATIONS --</h3><br>
	<h4>- Iteration #1 -</h4>
		<a target="_blank" href="http://people.clarkson.edu/~jsearlem/cs459/fa12/project/pr1.html" 
			style="color: #0000ff; text-decoration: none;" id="utp">Understanding the Problem</a><br><br>
		<a target="_blank" href="https://docs.google.com/document/d/14FSmAexL6S0mgK8DnS6WTeTU5xnliLHS06MT8DliHNo/edit" 
			style="color: #0000ff; text-decoration: none;" id="rep">Report</a><br><br>
		<a target="_blank" href="/surveys/1" style="color: #0000ff; text-decoration: none;" id="rs">Relevant Survey</a><br><br>
		<a style="color: #000000; text-decoration: none;" id="sd">Survey Data</a><br><br>
		<a target="_blank" href="https://docs.google.com/presentation/d/1L4TworNnG9yITCeM3t2dRjjUE0YxxPMpa5tZVVBsGDU/edit" 
			style="color: #0000ff; text-decoration: none;" id="presi">It#1 Presentation</a><br><br>
	<h4>- Iteration #2 -</h4>
		<a target="_blank" href="http://people.clarkson.edu/~jsearlem/cs459/fa12/project/pr2.html" 
			style="color: #0000ff; text-decoration: none;">Design Alternatives</a><br><br>
		<a target="_blank" href="https://docs.google.com/document/d/14FSmAexL6S0mgK8DnS6WTeTU5xnliLHS06MT8DliHNo/edit" 
			style="color: #0000ff; text-decoration: none;" id="rep">Report</a><br><br>
		<a target="_blank" href="https://docs.google.com/presentation/d/1dllvjxgEudF5F-parV2FtG7A9EqZQSH1OjSNbyqmYN8/edit" 
			style="color: #0000ff; text-decoration: none;" id="presi">It#2 Presentation</a><br><br>
{% endblock %}
