/* CSS for CSi459 Human Computer Interaction Project */

/*  - COLORS -
 * 	tron_blue: #18CAE6
 * 	dark_magenta: #EA3088
 *	orange: #FF4719
*/

/* Body */
body {
	background: #000000;
	font-family: helvetica;
	color: #18CAE6;
}
div.divider {
	position: relative;
	left: 12.5%;
	width: 75%; height: 0.2em;
	background: #EA3088;
	margin-top: 1%;
	margin-bottom: 1%;
	box-shadow: 0 0 0.3em #EA3088;
}

/* Header */
div.header {
	position: relative;
	left: 12.5%;
	width: 75%;
	text-align: center;
	line-height: 100%;
	/*margin-top: 2%;*/
	font-size: 3.0em;
	box-shadow: inset 0 -7px 10px -8px #18CAE6;
	text-shadow: 0 0 0.3em #18CAE6;
}

/* Navigation Bar */
div.nav_bar {
	position: relative;
	left: 12.5%;
	width: 75%; 
	line-height: 100%;
	text-align: center;
	/*padding-top: 10px;*/
	/*padding-bottom: 3px;*/
	margin-bottom: 2%;
	color: #18CAE6;
	/*border: medium solid #18CAE6;*/
	text-shadow: 0 0 0.2em #18CAE6;
}

/* Main Content */
div.main_cont {
	position: relative;
	left: 12.5%;
	width: 75%;
	text-align: center;
	/*border: medium solid #18CAE6;*/
}

/* Links */
a { color: #18CAE6 }
a:link { color: #18CAE6 }
a:hover { color: #ff0000; text-shadow: 0 0 0.3em #ff0000; } 
