{% load static %}

<link rel=stylesheet type="text/css" href="/static/css/survey_app/survey.css">

<form method="POST" action="/surveys/submit_survey/{{ survey.id }}">
	{% csrf_token %}

	<h1>{{ survey.name }}</h1>

	{% for question in questions %}
		{% if question.ans_type == 'T' %}
		
			<p>{{ question.question }}:</p>
			<input type="text" name="{{ question.pk }}"/></br></br>

		{% elif question.ans_type == 'R' %}

			<p>{{ question.question }}:</p></br>
			{% for choice in question.choices.all %}
				<input type="radio" name="{{ question.pk }}" value="{{ choice.choice }}">{{ choice.choice }}&emsp;</input>
			{% endfor %}
			</br></br>

		{% elif question.ans_type == 'C' %}

			<p>{{ question.question }}:</p></br>
			{% for choice in question.choices.all %}
				<input type="checkbox" name="{{ question.pk }}">{{ choice.choice }}&emsp;</input>
			{% endfor %}
			</br></br>

		{% else %}
			<p>Unrecognized Field</p>
		{% endif %}
	{% endfor %}

	<input type="submit" value="Submit"/>
</form>
